# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
venv/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl
*.tfvars
!*.tfvars.example
.build/
crash.log
tfplan*

# Node
node_modules/
npm-debug.log*
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
.aws/

# Zip artifacts
*.zip

*.json
!package.json
!package-lock.json
